@using Radzen
@using Radzen.Blazor

<Animate Auto Animation="Animations.FadeIn">
    <div class="jumbotron">
        <RadzenRow>
            <RadzenColumn>
                <RadzenText TextStyle="TextStyle.DisplayH5" Style="color:white;">
                    Welcome @User?.GivenName!
                </RadzenText>
            </RadzenColumn>
        </RadzenRow>
    </div>
</Animate>

@code {
    [CascadingParameter(Name = "User")]
    public User User { get; set; } = new();
}