@using Radzen
@using Radzen.Blazor

<Animate Auto Animation="Animations.FadeIn" DelayMilliseconds="500">
    <div class="jumbotron">
        <RadzenRow>
            <RadzenColumn>
                <RadzenText TextStyle="TextStyle.DisplayH5">
                    Welcome
                </RadzenText>
            </RadzenColumn>
        </RadzenRow>
    </div>
</Animate>

